{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">
                        {% if object %}
                            Изменение продукта
                        {% else %}
                            Создание продукта
                        {% endif %}
                    </h1>
                    <form class="mb-3 form-control" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                        <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}