{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Цена: {{ product.price }} руб.</p>
                    <p class="card-text">Категория: {{ product.category }}</p>

                    <h2>Версии:</h2>
                    <ul>
                        {% for version in product.versions.all %}
                            <li>
                                {{ version.version_number }} - {{ version.version_name }}
                                {% if version.is_current %}
                                    (Текущая)
                                {% endif %}
                                <a href="{% url 'catalog:version_update' version.pk %}">Изменить</a>
                                <a href="{% url 'catalog:version_delete' version.pk %}">Удалить</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <a href="{% url 'catalog:version_create' product.pk %}" class="btn btn-primary">Создать новую версию</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Действия</h4>
                </div>
                <div class="card-body">
                    <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-success">Изменить</a>
                    <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}